.HeaderContainer {
    background-color: black;
    width: 100%;
    height: 91px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.HeaderItem {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-family: Roboto; 
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 500;
    line-height: 24px;
}


