.Dashboard {
    margin-left: 160px;
}

.DashboardContent {
    display: flex;
    flex-wrap:wrap;
    margin-top: 54px;
}

.Cards > * {
    margin: 0 39px 39px 31px;
}

.Hello {
    text-align: left;
    margin-top: 50px;
}

.HelloName {
    font-size: 34px;
    font-weight: 500;
    font-family: Roboto;
    margin: 0;
}

.HelloCheers {
    font-size: 13px;
    font-weight: 400;
    font-family: Roboto;
}

.SessionsContainer {
    display: flex;
    align-items: flex-end;
    border-radius: 5px;
    width: 181px;
    height: 184px;
    background-color: #ff0000;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

}

.TrackerContainer {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 181px;
    height: 184px;
    background-color: rgba(40, 45, 48, 1);
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

}

.ScoreContainer {
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 181px;
    height: 184px;
    background-color: rgba(251, 251, 251, 1);
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);

}

.Badges {
    margin-top: 30px;
    display: flex;
    gap: 21px;
    justify-content: space-between;
    margin-bottom: 56px;;
}
